.login{
    display: block;
    width: 100%;
}
#cardCol{
    width:auto;
    margin-top: 110px;
    margin-bottom: 124px;
    text-align: left;
}
.from{
    width:400px;
  
}
#loginCard{
    border:none;
}
#card-title{
    width:100%;
    margin-left:-16px;
    background-color: #4C2E94;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-title p{
    padding:4px;
    padding-left: 14px;
    font-size: 30px;
    color: #fff;
}
#loginCardBody{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}