.nav{
    display: block;
    width: 100%;
}
#Nav_row{
    /* background-color: rgb(76, 46, 148); */
    /* background-color: rgb(11, 171, 192);
    height: 50px; */
    height: 50px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );

  
}
#Nav_Cal_2{
    text-align: left;
    margin-left:-10px;
}
#Nav_Cal_1 a{
    font-size: 30px;
    color: white;
}
#Nav_Cal_2 a{
    font-size: 30px;
    color: white;
}
/* ......................................................................... */
/* search */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
  margin-top: 49px;
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #4d2aad;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  background: #ffffff;
  text-align: center;
  color: #1b9b4c;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Resize the wrap to see the search bar change! */
.wrap{
  width: 30%;
  position: absolute;
  left: 32%;
  transform: translate(-50%, -50%);
} 

/* navicon */
#NavIcons{
    text-align:right;
}
#NavIcons i{
    color: #fff;
    font-size: 22px;
    margin-top:14px;
    margin-left: 30px;
}