@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
#Custom_Search_student{
    border: 1px solid rgb(212, 212, 212);
    background-color:rgb(255, 255, 255);
}
#Custom_Search_student h5{
    margin-top:10px;
    font-size:18px;
}
#Custom_Search_student i{
    font-size:20px;
}
#studentListRow3{
    margin-top: 16px;
    text-align: right;
}
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
th, td {
	white-space: nowrap;
}

.first-col {
	width: 5em;
}

.table-wrapper {
    overflow-x: scroll;
	width:auto;
	margin: 0 auto;
}
.table-wrapper-scroll-y {
    display: block;
}
#studentListRow4{
    margin-top: 20px;
    text-align: right;
}

#studentListRow4 button{
    background-color:rgb(45, 155, 60);
    border:none;
}

#studentListRow4 button:hover{
    background-color:rgb(63, 155, 45);
}
.table{
    text-align: center; 
}
#student_data{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
#StudentTypeR{
    text-align: center;
    font-size: 14px;
    background-color:rgb(55, 148, 18);
    color:rgb(255, 255, 255);
    border-radius: 40px;
    padding: 1px;
  
}
#StudentTypeI{
    background-color:rgb(148, 18, 18);
    color:rgb(255, 255, 255);
    border-radius: 40px;
    padding: 1px;  
}

#icon button{
    background-color:transparent !important;
    border-radius: 40px;
    border: none;
}
#icon button i{
    margin-left:-2px;
    margin-right: 1px;
}
#icon i{
    margin-right: 10px;
}
#student_profile_pic{
    text-align: right;
}
.modal-header{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    color: #fff;
}
#student_img{
    width:150px;
    height: 150px;
}
#student_profile_table{
    text-align:justify;
}
#student_info_update_btn{
    background-color: rgb(21, 136, 40);
    color: #fff;
}
#student_info_update_btn:hover{
    background-color: rgb(61, 151, 66);
}
#student_profile_table_row{
    margin-bottom: 50px;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    height:32px;    
}
#student_profile_info{
    margin-top:40px;
}
#student_profile_table_row2{
    margin-bottom: 50px;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    height:50px;
   
}
#student_personal_info1{
    width:200px;
    text-align: left;
}
#student_personal_info{
    width:70px;
    text-align:left;
}
#student_profile_status{
    color: rgb(25, 190, 10);
    border-radius: 50px;
    
}





